:root {
    --primary : #009F4D;
    --light : #FFF8EC;
    --dark : #121212;
    --second: #FFB400;
    --third: #FF6F2C;
    --red: #DC3545;
    --blue: #01497C;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body { 
    background-color: var(--light); 
    font-family: 'Arial', sans-serif; 
    min-height: 100vh;
    color : var(--dark);
}
.card 
{ 
    border-radius: 1rem; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
}
.btn-orange { 
    background-color: var(--second); 
    color: var(--light); 
    border-radius: 10px; 
}
.btn-orange:hover { 
    background-color: var(--third); 
    color: var(--light); 
}
.form-control { 
    border-radius: 10px; 
}
.auth-left {
    background: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCFBOlBcw4Mt-rvlLZ4pD6ZnF3G0DblmUp0AvK13Jmvpm4tfmKK3ZT61xqMSKQMK65xl7fJxI4W_uXNZkyqzXZf4-ZJqCFLZh80beiTdzdwVBPMi4PE5CFCSAJqWYgvosQkk1TIlgAMd2SF0rfNQpH3oWMZhHoQfaiDoNS64gafvPh0uIOSxZxFpNhZA4YgptNOdea37H7YQ76YGhWR3NuIURabhj76lFVKmdJR5JJOhKjA93KoQ2sct6h04Rta3xMjc9XB5n2CMCE') no-repeat center center;
    background-size: cover;
    color: var(--light);
    border-radius: 1rem 0 0 1rem;
    padding: 3rem;
}
.auth-left h2, .auth-right h2  { 
    font-weight: 700; 
    margin-bottom: 1rem; 
}
.auth-left p { 
    opacity: 0.85; 
}
.auth-right { 
    background-color: white; 
    border-radius: 0 1rem 1rem 0; 
    padding: 3rem; 
}
.auth-right p { 
    color: var(--dark); 
    margin-bottom: 2rem; 
}
@media (max-width: 992px) { 
    .auth-left 
    { 
        display: none; 
    } 
    .auth-right { 
        border-radius: 1rem; 
    } 
}